#Plugins_Assistant {
	
	form {
		.toolbar {
			&.row {
				& > div:last-child {
					text-align: right;
				}
			}
		}
		
		.plaintext {
			font-size: 150%;
			line-height: 2em;
		}
		
		&.discarding {
			.panel {
				border-color: #ff0000;
				border-width: 2px;
			}
		}
		
		&.accepting {
			.panel {
				border-color: #00d333;
				border-width: 2px;
			}
		}
	}
}