@charset "UTF-8";

@font-face {
  font-family: "brainicons";
  src:url("brainicons.eot");
  src:url("brainicons.eot?#iefix") format("embedded-opentype"),
    url("brainicons.woff") format("woff"),
    url("brainicons.ttf") format("truetype"),
    url("brainicons.svg#brainicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "brainicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "brainicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "a";
}
.icon-facebook-places:before {
  content: "b";
}
.icon-sharethis:before {
  content: "c";
}
.icon-twitter:before {
  content: "d";
}
.icon-twitter-alt:before {
  content: "e";
}
.icon-facebook:before {
  content: "f";
}
.icon-facebook-alt:before {
  content: "g";
}
.icon-trash:before {
  content: "h";
}
.icon-tag:before {
  content: "i";
}
.icon-star:before {
  content: "j";
}
.icon-star-empty:before {
  content: "k";
}
.icon-tools:before {
  content: "l";
}
.icon-traffic-cone:before {
  content: "m";
}
.icon-ticket:before {
  content: "n";
}
.icon-target:before {
  content: "o";
}
.icon-rocket:before {
  content: "p";
}
.icon-rss-1:before {
  content: "q";
}
.icon-search:before {
  content: "r";
}
.icon-share:before {
  content: "s";
}
.icon-shuffle:before {
  content: "t";
}
.icon-right-open-big:before {
  content: "u";
}
.icon-right-open-mini:before {
  content: "v";
}
.icon-user:before {
  content: "w";
}
.icon-user-add:before {
  content: "x";
}
.icon-users:before {
  content: "y";
}
.icon-quote:before {
  content: "z";
}
.icon-play:before {
  content: "A";
}
.icon-plus:before {
  content: "B";
}
.icon-note:before {
  content: "C";
}
.icon-phone:before {
  content: "D";
}
.icon-paper-plane:before {
  content: "E";
}
.icon-palette:before {
  content: "F";
}
.icon-right-open:before {
  content: "G";
}
.icon-resize-small:before {
  content: "H";
}
.icon-resize-full:before {
  content: "I";
}
.icon-reply-all:before {
  content: "J";
}
.icon-reply:before {
  content: "K";
}
.icon-print:before {
  content: "L";
}
.icon-stop:before {
  content: "M";
}
.icon-pause:before {
  content: "N";
}
.icon-to-end:before {
  content: "O";
}
.icon-to-start:before {
  content: "P";
}
.icon-up-open:before {
  content: "Q";
}
.icon-up-open-big:before {
  content: "R";
}
.icon-up-open-mini:before {
  content: "S";
}
.icon-right-dir:before {
  content: "T";
}
.icon-up-dir:before {
  content: "U";
}
.icon-minus:before {
  content: "V";
}
.icon-list-add:before {
  content: "W";
}
.icon-menu:before {
  content: "X";
}
.icon-left-open-mini:before {
  content: "Y";
}
.icon-left-open-big:before {
  content: "Z";
}
.icon-left-open:before {
  content: "0";
}
.icon-left-dir:before {
  content: "1";
}
.icon-light-up:before {
  content: "2";
}
.icon-light-down:before {
  content: "3";
}
.icon-lifebuoy:before {
  content: "4";
}
.icon-link:before {
  content: "5";
}
.icon-magnet:before {
  content: "6";
}
.icon-mail:before {
  content: "7";
}
.icon-map:before {
  content: "8";
}
.icon-megaphone:before {
  content: "9";
}
.icon-key:before {
  content: "!";
}
.icon-keyboard:before {
  content: "\"";
}
.icon-lamp:before {
  content: "#";
}
.icon-heart:before {
  content: "$";
}
.icon-heart-empty:before {
  content: "%";
}
.icon-folder:before {
  content: "&";
}
.icon-home:before {
  content: "'";
}
.icon-forward:before {
  content: "(";
}
.icon-gauge:before {
  content: ")";
}
.icon-hourglass:before {
  content: "*";
}
.icon-floppy:before {
  content: "+";
}
.icon-flash:before {
  content: ",";
}
.icon-flag:before {
  content: "-";
}
.icon-feather:before {
  content: ".";
}
.icon-fast-forward:before {
  content: "/";
}
.icon-fast-backward:before {
  content: ":";
}
.icon-down-dir:before {
  content: ";";
}
.icon-down-open:before {
  content: "<";
}
.icon-down-open-big:before {
  content: "=";
}
.icon-down-open-mini:before {
  content: ">";
}
.icon-erase:before {
  content: "?";
}
.icon-export:before {
  content: "@";
}
.icon-eye:before {
  content: "[";
}
.icon-database:before {
  content: "]";
}
.icon-direction:before {
  content: "^";
}
.icon-compass:before {
  content: "_";
}
.icon-code:before {
  content: "`";
}
.icon-cog:before {
  content: "{";
}
.icon-comment:before {
  content: "|";
}
.icon-ccw:before {
  content: "}";
}
.icon-cw:before {
  content: "~";
}
.icon-chart-line:before {
  content: "\\";
}
.icon-chart-pie:before {
  content: "\e000";
}
.icon-chat:before {
  content: "\e001";
}
.icon-check:before {
  content: "\e002";
}
.icon-clipboard:before {
  content: "\e003";
}
.icon-cancel:before {
  content: "\e004";
}
.icon-bucket:before {
  content: "\e005";
}
.icon-brush:before {
  content: "\e006";
}
.icon-briefcase:before {
  content: "\e007";
}
.icon-basket:before {
  content: "\e008";
}
.icon-bag:before {
  content: "\e009";
}
.icon-arrows-ccw:before {
  content: "\e00a";
}
.icon-attach:before {
  content: "\e00b";
}
.icon-attention:before {
  content: "\e00c";
}
.icon-book:before {
  content: "\e00d";
}
.icon-block:before {
  content: "\e00e";
}
.icon-alert:before {
  content: "\e00f";
}
.icon-address:before {
  content: "\e010";
}
.icon-bell:before {
  content: "\e011";
}
.icon-air:before {
  content: "\e012";
}
.icon-archive:before {
  content: "\e013";
}
.icon-arrow-combo:before {
  content: "\e014";
}
.icon-wrench:before {
  content: "\e015";
}
.icon-youtube-play:before {
  content: "\e016";
}
.icon-talk-chat-2:before {
  content: "\e017";
}
.icon-talk-chat:before {
  content: "\e018";
}
.icon-tags:before {
  content: "\e019";
}
.icon-tag-2:before {
  content: "\e01a";
}
.icon-tachometer:before {
  content: "\e01b";
}
.icon-twitter-1:before {
  content: "\e01c";
}
.icon-umbrella:before {
  content: "\e01d";
}
.icon-undo:before {
  content: "\e01e";
}
.icon-star-1:before {
  content: "\e01f";
}
.icon-star-two:before {
  content: "\e020";
}
.icon-terminal:before {
  content: "\e021";
}
.icon-rocket-1:before {
  content: "\e022";
}
.icon-rss-two:before {
  content: "\e023";
}
.icon-search-find:before {
  content: "\e024";
}
.icon-remove:before {
  content: "\e025";
}
.icon-refresh:before {
  content: "\e026";
}
.icon-power-off:before {
  content: "\e027";
}
.icon-plus-1:before {
  content: "\e028";
}
.icon-minus-1:before {
  content: "\e029";
}
.icon-location-arrow:before {
  content: "\e02a";
}
.icon-lock:before {
  content: "\e02b";
}
.icon-unlock:before {
  content: "\e02c";
}
.icon-mic:before {
  content: "\e02d";
}
.icon-link-broken:before {
  content: "\e02e";
}
.icon-link-1:before {
  content: "\e02f";
}
.icon-flash-1:before {
  content: "\e030";
}
.icon-gears-setting:before {
  content: "\e031";
}
.icon-facebook-1:before {
  content: "\e032";
}
.icon-cursor-move-two:before {
  content: "\e033";
}
.icon-denied-block:before {
  content: "\e034";
}
.icon-code-1:before {
  content: "\e035";
}
.icon-cog-gear:before {
  content: "\e036";
}
.icon-angle-down:before {
  content: "\e037";
}
.icon-angle-left:before {
  content: "\e038";
}
.icon-angle-right:before {
  content: "\e039";
}
.icon-angle-up:before {
  content: "\e03a";
}
.icon-angle-double-right:before {
  content: "\e03b";
}
.icon-angle-double-left:before {
  content: "\e03c";
}
.icon-angle-double-down:before {
  content: "\e03d";
}
.icon-angle-double-up:before {
  content: "\e03e";
}
.icon-magic-wand:before {
  content: "\e03f";
}
.icon-font:before {
  content: "\e040";
}
.icon-exclamation-circle:before {
  content: "\e041";
}
.icon-exclamation-triangle:before {
  content: "\e042";
}
.icon-check-mark:before {
  content: "\e043";
}
.icon-bold:before {
  content: "\e044";
}
.icon-bell-1:before {
  content: "\e045";
}
.icon-camera:before {
  content: "\e046";
}
.icon-call-phone:before {
  content: "\e047";
}
.icon-unlink:before {
  content: "\e048";
}
.icon-wrench-1:before {
  content: "\e049";
}
.icon-widget:before {
  content: "\e04a";
}
.icon-x:before {
  content: "\e04b";
}
.icon-rss-2:before {
  content: "\e04c";
}
.icon-paperclip:before {
  content: "\e04d";
}
.icon-magnifying-glass:before {
  content: "\e04e";
}
.icon-marker:before {
  content: "\e04f";
}
.icon-heart-1:before {
  content: "\e050";
}
.icon-arrows-expand:before {
  content: "\e051";
}
.icon-arrows-compress:before {
  content: "\e052";
}
.icon-arrows-out:before {
  content: "\e053";
}
.icon-zap:before {
  content: "\e054";
}
.icon-tools-1:before {
  content: "\e055";
}
.icon-terminal-1:before {
  content: "\e056";
}
.icon-telescope:before {
  content: "\e057";
}
.icon-sync:before {
  content: "\e058";
}
.icon-star-2:before {
  content: "\e059";
}
.icon-rocket-2:before {
  content: "\e05a";
}
.icon-search-1:before {
  content: "\e05b";
}
.icon-plug:before {
  content: "\e05c";
}
.icon-plus-2:before {
  content: "\e05d";
}
.icon-puzzle:before {
  content: "\e05e";
}
.icon-radio-tower:before {
  content: "\e05f";
}
.icon-playback-play:before {
  content: "\e060";
}
.icon-playback-pause:before {
  content: "\e061";
}
.icon-playback-fast-forward:before {
  content: "\e062";
}
.icon-playback-rewind:before {
  content: "\e063";
}
.icon-location:before {
  content: "\e064";
}
.icon-mortar-board:before {
  content: "\e065";
}
.icon-paintcan:before {
  content: "\e066";
}
.icon-package:before {
  content: "\e067";
}
.icon-heart-2:before {
  content: "\e068";
}
.icon-flame:before {
  content: "\e069";
}
.icon-gear:before {
  content: "\e06a";
}
.icon-eye-1:before {
  content: "\e06b";
}
